@import url('./code.css') layer(code);

.tag {
    background-color: transparent;
}

[data-mdsvex-table="tr"] {
    padding: 1em;
    border-bottom: 1px dashed var(--bulma-text);

    &:last-child {
        border-bottom: none;
    }
}

[data-mdsvex-table="th"] {
    font-weight: bold;
}

[data-mdsvex-table="td"] {
    margin-bottom: 1em;
}
